
<div class="container">


		<a href="#!notifyPromotionV" style="float: left;size: 30px">Notification</a>


	<select ng-model="sort" style="cursor: pointer; float: right">
		<option value="userId" style="cursor: pointer;">User Id</option>
		<option value="-account.balance" style="cursor: pointer;">Balance</option>
	</select><br>
	<br>
	<table class="table table-hover">

		<tr>
			<th><input type="checkbox" ng-model="selectAll"
				ng-click="toggleSelection('all',x.userId,$event)" />
			</td>
			<th class="col-sm-1">No</th>
			<th class="col-sm-3">UserId</th>
			<th class="col-sm-2">Status</th>
			<th class="col-sm-3">Balance</th>
			<th class="col-sm-3">Links</th>
		</tr>
		<tr ng-repeat="x in items | orderBy : sort">
		
		
		
		
			<td><input type="checkbox" ng-checked="selectAll"
				ng-click="toggleSelection('one',x.userId,$event)" /></td>
			<td>{{$index}}</td>
			<td>{{x.userId}}</td>
			<td>{{x.status}}</td>
			<td>{{x.account.balance}}</td>
			<td>
				<a href="#!adminPassbookV" ng-click="idFunc(x.userId)">view</a>
				/<a href="#!changeStatusV" ng-click="idFunc(x.userId)">changeStatus</a>
			</td>
		</tr>
	</table>

</div>







