<div class="container">

<form ng-submit="getDates()" >
	<table  class="table table-hover">
		<tr>
			
			<td>From Date <input type="date" ng-model="fromDate" required="required" style="cursor: pointer;"></td>
		
			<td>To Date <input type="date" ng-model="toDate" required="required" style="cursor: pointer;"></td>
		
			<td ><input type="submit" 
				value="show" class="button"></td>
		</tr>
	</table>
	</form>



	<div>statics</div>

	<table  class="table table-hover">
		<tr>
			<th>Description</th>
			<th>Number</th>
		<tr>
		<tr>
			<td>Number Of Account</td>
			<td>{{staticsDetails[0]}}</td>
		</tr>
		<tr>
			<td>Number Of Deposit</td>
			<td>{{staticsDetails[1]}}</td>
		</tr>
		<tr>
			<td>Number Of Withdraw</td>
			<td>{{staticsDetails[2]}}</td>
		</tr>
		<tr>
			<td>Total Deposit Amount</td>
			<td>{{staticsDetails[3]}}</td>
		</tr>
		<tr>
			<td>Total Withdraw Amount</td>
			<td>{{staticsDetails[4]}}</td>
		</tr>
		<tr>
			<td>highest balance amount</td>
			<td>{{staticsDetails[5]}}</td>
		</tr>
		<tr>
			<td>Number of ENABLE account</td>
			<td>{{staticsDetails[6]}}</td>
		</tr>
		<tr>
			<td>Number of DISABLE account</td>
			<td>{{staticsDetails[7]}}</td>
		</tr>
	</table>
</div>