<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<nav cssClass="navbar navbar-inverse"
		style="background-color: green; color: white; border: none">
		<div cssClass="container-fluid">
			<div cssClass="navbar-header">
				<a cssClass="navbar-brand" href="#">BankOfIndia</a>
			</div>
			<div cssClass="collapse navbar-collapse" id="myNavbar">
				<ul cssClass="nav navbar-nav">
					<li><a href="#/!">Home</a></li>
					<li><a href="#!statics">Statics</a></li>
				</ul>
				<ul cssClass="nav navbar-nav navbar-right">
				<li><a href="#"><span cssClass="glyphicon glyphicon-user"></span>
							admin</a></li>
					<li><a href="logout"><span cssClass="glyphicon glyphicon-log-out"></span>
							Logout</a></li>

				</ul>
			</div>
		</div>
	</nav>
</body>
</html>